/*  Header styling  */

#header {
	background-color: #FBFBFB;
	height: 149px;
	width: 100%;
}
#Fusr_Logo-small {
	display: none; 
	visibility: hidden;
}
.HeaderSearch {
	top: 52px; 
	padding-top: 10px;
	width: 100%;
	position: absolute;
	border-top: 1px solid #E1E1E1;
	background: #f9f9f9; 
}
.Menubtn {
	float: left; 
 	margin: 12px 0 0 20px;
	cursor: pointer;
}
.Menubtn img {
	padding: 5px 0px;
}
.filters {
	display: none; 
	visibility: hidden;
}
.Searchbtn .btn {
    width: 45px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: -46px;
    height: 46px;
    overflow: hidden;
    right: 15px;
}

.teruglink {
	height: 46px;
	border-bottom: 1px solid #E1E1E1;
	font-size: 0.8em;
	padding: 11px 0px;
	background: #FBFBFB;
	text-align: center;
	top: 63px;
	position: absolute;
	width: 100%;
}
.teruglink div {
	padding-top: 2px;
	word-break: break-all;
}

.MobileLocatie {
	height: 40px;
	padding: 5px 20px 0 15px;
	margin-top: 8px;
	font-size: 1em;
	line-height: 1.8em;
	font-family: 'Catamaran', Verdana, Sans-Serif;
	border-top: 1px solid #E1E1E1;
	border-bottom: 1px solid #E1E1E1;
	background: #EDEFED;
}
.MobileLocatie a {
	padding: 0px 40px 0px 0px;
	float: right;
	text-decoration: underline;
	color: #343434;
	background: url('../images/geo-icon.png') right center no-repeat;
}

.MobileFilter {
	background: url('../images/filter.png') no-repeat center; 
	position: absolute; 
	height: 21px; 
	right: 10px; 
	width: 21px; 
	top: 0; 
	padding: 26px; 
	cursor: pointer;
}

/*  Homepage header  */

.home {
	height: 50px !important;
	margin-bottom: 35px;
	border-bottom: 1px solid #E1E1E1;
}
 .home #menu #Fusr_Logo {
	display: none; 
	visibility: hidden;
}
