
/*  Media Queries  >  responsive   */

/*  Media Queries  :  mobiel   */
 @media screen and (min-width: 768px) {
 	.MobileFilter, .filters h1 {
		display: none; visibility: hidden;
	}
	.Searchbtn, .filters {
 		display: block; visibility: visible;
 	}
 	#Fusr_Logo-small { 
 		margin:19px 20px;
		background: url('../images/Fusr.nl_logo-sm.png') top center no-repeat transparent;
		height: 71px;
		width: 138px;
		float: left;
		display: block; 
		visibility: visible;
		position: absolute;
		z-index: 2;
	}
 	.filters {
		margin-top: 0px;
		padding-top: 25px;
		background: #fff;
		border-right: 1px solid #d3dce4;
	}
	.filtersbg {
		background: transparent;
		border: none;
		word-break: break-all;
		padding-left: 0;
	}
 	#header {
 		height: 150px;
 	}
 	.Menubtn {
 		right: 30px;
		top: 15px;
		position: absolute;
		z-index: 2;
	}
	.home .Menubtn {
		top: 0px;
	}
	.HeaderSearch {
		float: left;
		top: 31px;
		z-index: 1;
		border-top: none;
		background: transparent; 
	}
	.Searchbtn .btn {
	    width: 100%;
		top: 0;
		position: relative;
		right: 0;
	}
	.MobileLocatie {
		margin-top: 69px;
		border-top: 1px solid #d3dce4;
	}
	#menu {
		left: auto;
		right: 0;
		border-left: 1px solid #d3dce4;
	}
	#menu #Fusr_Logo {
		margin: 24px 0px 0px 20px;
		float: left;
	}
	.resultspage {
		margin-top: 20px;
	}
	.hide-menu {
		float:right;
		margin: 29px 31px 0 0;
	}
	.home .hide-menu {
		margin-top: 15px;
	}
	.HomeSearch .zoekknop {
		margin-top: 0px;
	}
	.teruglink {
		position: relative;
		top: auto;
	}
	.profilepage .company-logo img {
		height: 110px;
	}
	.profilepage .company-image {
		height: 230px;
	}
	.profilepage h1 {
		font-size: 1.5em;
	}

/*  Media Queries  :  tablet   */
@media screen and (min-width: 991px) {

}

/*  Media Queries  :  standaard desktop   */
@media screen and (min-width: 1200px) {
	.profilepage .company-image {
		height: 330px;
	}
	.profilepage .company-logo img {
		height: 135px;
		margin-top: 40px;
		margin-left: 40px;
	}
}

