
/*  Algehele styling  */
body {
	color: #4e4e4e;
    font-family: Verdana, Sans-Serif;
    font-size: 16px;
    line-height: 20px;
	background-color: #eeeef0;
}
.h1, .h2, .h3, h1, h2, h3 {
	margin: 0;
}
h1 {
	font-family: "trebuchet ms", Verdana, Sans-Serif;
	font-size: 1.667em;
	padding-bottom: 15px;
}
h2 {
	font-family: "trebuchet ms", Verdana, Sans-Serif;
	font-size: 1.385em;
	padding-bottom: 10px;
	padding-top: 20px;
}
a {
	text-decoration: underline;
	cursor: pointer;
}
a.noline {
	text-decoration: none;
}
.weight-normal {
	font-weight: 400;
}
.lightbold {
	font-weight: 600;
}
.bold {
	font-weight: 700;
}
.pull-center {
	text-align: center;
}
.align-right {
	text-align:right !important;
}
.right {
	float: right;
}
.vert-align-bottom {
	padding-top: 8px;
}
.spacer {
	margin-bottom: 20px;
}
.spacer2 {
	margin-top: 30px;
}
.greylink a
{
	color: #333;
}

/* Logo */
#Fusr_Logo {
	margin: 0 auto;
	background: url('../images/Fusr.nl_logo.png') top center no-repeat transparent;
	height: 153px;
	display: block;
	margin-bottom: 85px;
}


/*  Homepage  */
/* Zoekbalk aanvulling */
.ui-autocomplete {
	border-radius: 0 !important;
	border-top: 0 !important;
	border-right: 1px solid #00aeef !important;
	border-bottom: 1px solid #00aeef !important;
	border-left: 1px solid #00aeef !important;
	background: #FFF !important;
	color: #4E4E4E !important;
	padding: 5px 0 !important;
}
.ui-menu .ui-menu-item {
	border-radius: 0 !important;
    padding: 0!important;
}
.ui-widget-content a {
    color: #686666 !important;
    font-size: 0.9em !important;
    width: 100%;
    text-indent: 10px;
    display: block;
	padding: 5px 0;
}
.ui-widget-content .ui-state-hover, .ui-widget-content a:hover {
    background: #EEEEF0 none !important;
    border: 0 !important;
    border-radius: 0;
    text-decoration: none;
}
.search_results {
    background-color: #00aeef;
    color: #fff !important;
    text-align: center;
}
/* zoekbalk en knop */
.HomeSearch .zoekknop {
	margin-top: 15px;
}

/*  zoekresultaten pagina  */

/* filters */
.filters {
	margin-top: -96px;
	background: #EEEEF0;
}
.filtersbg {
	background: #fff;
	border: 1px solid #d3dce4;
	word-break: break-all;
	padding-left: 20px;
}
.filters h1 {
	padding-top: 10px;
	font-family: Verdana, Sans-Serif;
}
.filters a {
	color: #343434;
	display: block;
	padding: 3px 10px;
	text-decoration: none;
}
.filters a:hover, 
.filters a.active {
	color: #fff;
	background-color: #d08111;
	text-decoration: none;
}


/* zoekresultaten */
.search-result h2 {
	margin-top: 20px;
	font-family: "trebuchet ms", Verdana, Sans-Serif;
	color: #d08111;
	font-weight: 600;
}
.search-result h2:first-child {
	margin-top: 0;
}
/*.resultspageborder {
	height:0px;
	border-bottom: 1px solid #d3dce4;
}*/
.resultspage {
	margin-top: 15px;
}
.resultsbg {
	background: #fff;
	padding: 20px;
	border: 1px solid #DEDEDE;
}

.resultspage .search-container {
	border-bottom: 1px solid #dbe2e7;
	position: relative;
}
	.resultspage .imglink {

	}
	.resultspage .search-image {
		text-align: center;
	}
	.resultspage .search-image img {
	    max-width:180px;
	    max-height:180px;
	    width: auto;
	    height: auto;
		padding: 20px 0 20px 20px;
	}

.resultspage .search-naam {
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: 22px;
}
	.resultspage .bedrijfsnaam {
		color: #0066cc;
	}
	.resultspage .specialiteit {

	}
	.resultspage .specialiteit a {
		color: #343434;
	}
	.resultspage .bezoekadres {

	}

.resultspage .search-afstand {
	padding-bottom: 20px;
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 0;
}
	.resultspage .afstand {
		color: #B1B1B1;
		font-size: 0.9em;
	}
	.resultspage .link {

	}



/*  Profielpagina  */

.profilepage {
	padding: 20px 0px;
}
.profilebg {
	background: #fff;
	border: 1px solid #DEDEDE;
	padding: 30px 20px;
}

.profilepage .company-logo {
	position: absolute;
}
.profilepage .company-logo img {
	height: 80px;
	margin: 25px;
}
.profilepage .company-image {
	height: 130px;
	overflow: hidden;
}

.profilepage h1 {
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 20px;
	margin-bottom: 5px;
	font-family: Verdana, sans-serif;
	font-size: 1.2em;
	color: #343434;
}
.profilepage h2 {
	padding-top: 0px;
	margin-bottom: 10px;
	font-family: Verdana, sans-serif;
	font-weight: 600;
	font-size: 1.25em;
}
.profilepage .beschrijving {
	margin-bottom: 39px;
}
.profilepage .adres, .profilepage .social {
	margin-bottom: 39px;
}
.profilepage .openingstijden span {
	display: block;
}
.profilepage .specialisaties {
	margin-bottom: 39px;
}

#zoeken {
	display: none;
}
